<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">
	<listeners>
		<listener class-name = "api.utilities.Listenerclass" />
	</listeners>
	
  <test thread-count="5" name="petstoretestng">
    <classes>
      <class name="petstore.Practicepetstoretestusingurlsfromfile"/>
    </classes>
  </test> <!-- petstoretestng -->
</suite> <!-- Suite -->
